{# Here for add your Code #} {# End of your Code #}
{% extends '/admin/base.html.twig' %}
{% set route =path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params'))%}
{% set action =path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params'))| split('/')| last%}
{% set current_path = app.request.get('_route') %}
{# Here for add your Code #} {# End of your Code #}

{% block title %}
	Compte
{% endblock %}

{% block body %}

	{# Here for add your Code #} {# End of your Code #}

	{% set choice_situation={"inactif":"<i class=\"bi bi-toggle-off\"><\/i>","actif":"<i class=\"bi bi-toggle-on\"><\/i>"} %}
{% set choice_isVerified=["<i class=\"bi bi-toggle-off\"><\/i>","<i class=\"bi bi-toggle-on\"><\/i>"] %}

	<h1>Compte</h1>
	{# Here for add your Code #} {# End of your Code #}

	<div>

		<table class="table table-striped table-hover align-middle">
			<thead>
				<tr>
					{# Here for add your Code #} {# End of your Code #}

					<th {% if pagination.isSorted('a.id') %} class='sorted'{% endif %}>
                {{ knp_pagination_sortable(pagination, 'id', 'a.id') }}</th>
<th {% if pagination.isSorted('a.email') %} class='sorted'{% endif %}>
                {{ knp_pagination_sortable(pagination, 'email', 'a.email') }}</th>
<th {% if pagination.isSorted('a.roles') %} class='sorted'{% endif %}>
                {{ knp_pagination_sortable(pagination, 'roles', 'a.roles') }}</th>
<th {% if pagination.isSorted('a.nom') %} class='sorted'{% endif %}>
                {{ knp_pagination_sortable(pagination, 'nom', 'a.nom') }}</th>
<th {% if pagination.isSorted('a.situation') %} class='sorted'{% endif %}>
                {{ knp_pagination_sortable(pagination, 'situation', 'a.situation') }}</th>
<th {% if pagination.isSorted('a.isVerified') %} class='sorted'{% endif %}>
                {{ knp_pagination_sortable(pagination, 'isVerified', 'a.isVerified') }}</th>
					{# Here for add your Code #} {# End of your Code #}

					<th>Actions</th>
				</tr>
			</thead>
			<tbody class="sortable">
				{% for Compte in pagination %}
					{% if true and Compte.roles[0]  != 'ROLE_SUPERADMIN' %}
						<tr
							data-num="{{Compte.id }}">
							{# Here for add your Code #} {# End of your Code #}

							<td class="my-auto " > {{Compte.id}}
</td>
<td class="my-auto " title="{{Compte.email|striptags|u.truncate(200, '...')}}"> {{Compte.email|striptags|u.truncate(40, '...')}}
</td>
<td class="my-auto " title="{{Compte.roles|join(',')}}"> {{Compte.roles|join(',')}}
</td>
<td class="my-auto " title="{{Compte.nom|striptags|u.truncate(200, '...')}}"> {{Compte.nom|striptags|u.truncate(40, '...')}}
</td>
<td class="my-auto">
                                {% set retour=0 %}
                                {% for test,value in choice_situation %}
                                    {% if test==Compte.situation %}
                                        {% set retour=loop.index0 %}
                                    {% endif %}
                                {% endfor %}
                                {% if retour+1==choice_situation|length %}
                                    {% set numr=0 %}
                                {% else %}
                                    {% set numr=retour+1 %}
                                {% endif %}
                                <a href="{{path('compte_champ',{'id':Compte.id,'type':'situation','valeur':choice_situation|keys[numr]})}}" style='font-size:2rem;'  title='{{ choice_situation|keys[retour]}}'> {{ choice_situation[ choice_situation|keys[retour]]|raw}}</a>
</td>
<td class="my-auto">
                                {% set retour=0 %}
                                {% for test,value in choice_isVerified %}
                                    {% if test==Compte.isVerified %}
                                        {% set retour=loop.index0 %}
                                    {% endif %}
                                {% endfor %}
                                {% if retour+1==choice_isVerified|length %}
                                    {% set numr=0 %}
                                {% else %}
                                    {% set numr=retour+1 %}
                                {% endif %}
                                <a href="{{path('compte_champ',{'id':Compte.id,'type':'isVerified','valeur':choice_isVerified|keys[numr]})}}" style='font-size:2rem;'  title='{{ choice_isVerified|keys[retour]}}'> {{ choice_isVerified[ choice_isVerified|keys[retour]]|raw}}</a>
</td>
<td>{{ Compte.deletedAt is not empty ? Compte.deletedAt|date('d/m à H:i', 'Europe/Paris')}}</td>
							{# Here for add your Code #} {# End of your Code #}

							<td>
								{# Here for add your Code #} {# End of your Code #}

								<form method="post" action="{{ path('compte_delete', {'id': Compte.id }) }}" style="margin-block-end: 0;">
									<div
										class="btn-group" role="group" aria-label="actions">
										{# Here for add your Code #} {# End of your Code #}

										<input type="hidden" name="_token" value="{{ csrf_token('delete'~Compte.id ) }}"/>
										<a class='btn btn-xs btn-primary'  title='edit' href="{{ path('compte_edit', {'id': Compte.id }) }}"><i class='icone icone bi bi-pencil-square'></i></a>
										{# Here for add your Code #} {# End of your Code #}

										{% if true %}
											{% if action=='deleted' %}
												{# Here for add your Code #} {# End of your Code #}

												<button class="btn btn-xs btn-warning" title="restaurer" name="delete_restore" value="1">
													<i class="icone bi bi-life-preserver"></i>
												</button>
												<button class="btn btn-xs btn-danger" title="supprimer définitivement" onclick="return confirm('Etes-vous sûr de vouloir effacer cet item?');" name="delete_delete" value="1">
													<i class="icone bi bi-trash"></i>
												</button>
											{% else %}
												{# Here for add your Code #} {# End of your Code #}

												<button class="btn btn-xs btn-warning" title="mettre dans la corbeille" name="delete_softdelete" value="1">
													<i class="icone icone bi bi-trash"></i>
												</button>
											{% endif %}
										{% endif %}

										{# Here for add your Code #} {# End of your Code #}



									</div>
								</form>
								{# Here for add your Code #} {# End of your Code #}

							</td>
						</tr>
					{% endif %}
				{% else %}
					<tr>
						<td colspan="11">Aucun enregistrement</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	{# Here for add your Code #} {# End of your Code #}

	<div class="row">
		{% if true %}
			<div class="col">
				<a class="btn btn-primary" data-toggle="tooltip" title="ajouter enregistrement" href="{{ path('compte_new') }}">Ajouter un enregistrement</a>
			</div>
		{% endif %}
		{% if true %}
			{% if action=='deleted' %}
				<div class="col-auto">
					<a class="text-muted" href="{{ path('compte_index') }}">voir les enregistrements</a>
				</div>
			{% else %}
				<div class="col-auto">
					<a class="text-muted" href="{{ path('compte_deleted') }}">voir les enregistrements supprimés</a>
				</div>
			{% endif %}
		{% endif %}
	</div>
	{# Here for add your Code #} {# End of your Code #}

	<div class="row">
		<div class="navigation col-auto mx-auto">
			{{ knp_pagination_render(pagination) }}
		</div>
	</div>

</div>{%endblock %}