{# Here for add your Code #} {# End of your Code #}
{% extends '/admin/base.html.twig' %}
{% set route = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
{% set action = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) | split('/') |
last %}
{# Here for add your Code #} {# End of your Code #}

{% block title %}
	{% if action=='new' %}Création
		{% elseif action=='copy' %}Duplication
		{% elseif action=='edit' %}Edition
	{% endif %}
	Compte
{% endblock %}

{% block body %}
	<input
	type="hidden" id="TBuploadmax" value="{{TBuploadmax()}}">
	{# Here for add your Code #} {# End of your Code #}

	<div class="\" col-12 text-center\"">
		<h1>
			{% if action=='new' %}Créer
				{% elseif action=='copy' %}Dupliquer
				{% elseif action=='edit' %}Editer
			{% endif %}
			Compte
			<span
				class="text-right">{# <h5>taille maxi d'envoie:<span id="TBuploadmax">{{TBuploadmax()}}</span>Mo</h5> #}
			</span>
		</h1>
		{# Here for add your Code #} {# End of your Code #}

	</div>
	{# Here for add your Code #} {# End of your Code #}

	<div class="col-12" data-turbo="false">
		{{ form_start(form) }}
		{# Here for add your Code #} {# End of your Code #}

		{{ form_row(form.email) }}

{# Here for add your Code #} {# End of your Code #}

{{ form_row(form.roles) }}

{# Here for add your Code #} {# End of your Code #}

{{ form_row(form.nom) }}

{# Here for add your Code #} {# End of your Code #}

{{ form_row(form.situation) }}

		{# Here for add your Code #} {# End of your Code #}

		<button class="btn btn-primary" id="bouton_submit" type="submit">
			{% if action=='new' %}Créer
				{% else %}Mettre à jour
			{% endif %}
		</button>
		<a href="{{ path('compte_index') }}">
			<button class="btn btn-secondary" type="button">Revenir à la liste</button>
		</a>
		<input
		type="hidden" id="token" value="{{ csrf_token('upload')}}"/>
		{# Here for add your Code #} {# End of your Code #}

		{{ form_end(form) }}
		{# Here for add your Code #} {# End of your Code #}

	</div>
	{# Here for add your Code #} {# End of your Code #}

{% endblock %}
