<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content=""/>
        <meta name="keywords" content=""/>
        <meta name="robots" content="noindex"/>
        <meta name="Language" content="fr"/>
        <meta name="Author" content=""/>
        <meta name="copyright" content=""/>
        <title>
            {% block title %}{% endblock %}
        </title>
        <!-- favicon -->

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

    </head>
    <body class="bg-blanc">
        {% trans_default_domain 'base' %}
        <!-- ======= Header ======= -->
        <header id="header" class="bg-white">
            <section id="titre">
                <div class="container">
                    <div class="d-flex justify-content-between align-items-center">
                        <a class="text-decoration-none" href="{{ path('home_index') }}">
                            <div class="row">
                                <div
                                    class="col m-4">
                                    {# TODO: A j'ai mis un taille à l'image pour réserver l'espace pour que le texte ne bouge pas #}
                                    <img class="img-fluid" src="{{ asset('/build/logo.png')|imagine_filter('petit') }}" width="108" height="70">
                                </div>
                                <h1 class="p-0 col-auto my-auto ">
                                    green memory
                                </h1>
                            </div>
                        </a>
                        <a href="#compte">
                            <img src="{{ asset('/build/icone_compte.svg') }}" height="50px">
                        </a>
                    </div>
                </div>
            </section>
            <section id="navbar">
                <nav class="navbar navbar-expand-xl bg-primary">
                    <div
                        class="container">
                        {# TODO: change le nom des exmple de bootstrap => navbarTogglerDemo02 #}
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list" viewbox="0 0 16 16">
                                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                            </svg>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item d-flex align-items-center">
                                    <select class=" form-select bg-primary border-0 m-0 py-0 text-uppercase" aria-label="Default select example">
                                        <option class="">
                                            {% trans %}
                                            Les produits
                                            {% endtrans %}
                                        </option>
                                        <option value="#produit_1">
                                            One
                                        </option>
                                        <option value="#produit_2">
                                            Two
                                        </option>
                                        <option value="#produit_3">
                                            Three
                                        </option>
                                    </select>
                                </li>
                                {# TODO: si répétition on fait une boucle sur un tableau voir ligne 43 dans le fichier base.html.twig dans le répertoir admin #}
                                {% set current_path = app.request.get('_route') %}
                                {# TODO: exemple de class active si la route est = au path de la page actuelle #}
                                <li class="nav-item">
                                    <a class="nav-link text-uppercase {{ current_path=='projet'?'active' }}" aria-current="page" href="#projet">
                                        {% trans %}
                                        le projet
                                        {% endtrans %}
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link  text-uppercase" aria-current="page" href="#production">
                                        {% trans %}
                                        Production
                                        {% endtrans %}
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-uppercase" aria-current="page" href="{{ path('leblog') }}">
                                        {% trans %}
                                        Le blog
                                        {% endtrans %}
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-uppercase" aria-current="page" href="#faq">
                                        {% trans %}
                                        FAQ
                                        {% endtrans %}
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-uppercase" aria-current="page" href="#contact">
                                        {% trans %}
                                        Contactez-nous
                                        {% endtrans %}
                                    </a>
                                </li>
                            </ul>
                            <div class="my-auto">
                                {% if app.request.locale=="fr" %}
                                    {# TODO: exemple de route avec une variable #}
                                    <a class="btn drapeau en" href="{{ path('change_locale',{'locale':'en'}) }}" role="button"></a>
                                {% else %}
                                    <a class="btn drapeau fr" href="{{ path('change_locale',{'locale':'fr'}) }}" role=" button"></a>

                                {% endif %}
                            </div>
                        </div>
                    </div>
                </nav>
            </section>

        </header>
        <!-- End Header -->
        <main
            id="main">
            {# TODO: affiche les messages d'erreurs #}
            {% include "flash_message.html.twig" %}
            {% block body %}{% endblock %}
        </div>

        <section id="faq" class="d-none">
            <div class="container-fluid bg-image my-5">
                <div class="row py-5 d-flex justify-content-center text-center">
                    <div class="col-ms-4 col-sm-7">
                        <h4>
                            {% trans %}
                            Vous souhaitez obtenir des informations sur nos produits
                            {% endtrans %}
                        </h4>
                        <a class="text-uppercase btn btn-light" href="#contactez-nous">
                            {% trans %}
                            Contactez-nous
                            {% endtrans %}
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <section id="contact">
                <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-3 col-sm-6 col-12">
                            <a
                                href="#accueil" class="d-flex align-items-center">
                                {# TODO: supprime les heigths des images sauf si c'est indispensable dans ce cas travaille en rem . Pour les images la class class="img-fluid" est presque toujours là #}
                                <img class="logo" src="{{ asset('/build/logo.png')|imagine_filter('petit') }}" class="img-fluid" alt="logo green memory">
                                <h5 class="text-uppercase my-4 mx-2">
                                    green memory
                                </h5>
                            </a>
                            <p>
                                17 rue du commissaire Philippe 31000 TOULOUSE
                            </p>
                            <p>
                                {% trans %}
                                Téléphone
                                {% endtrans %}
                                <br>
                                {% trans %}
                                Email
                                {% endtrans %}
                            </p>
                            <div class="col-12 mt-3">
                                <a href="#instagram">
                                    <img src="http://gm.le-cercueil-ecologique.fr/media/cache/resolve/icone_vert/build/instagram.png" alt="instagram">
                                </a>
                                <a href="#facebook">
                                    <img src="http://gm.le-cercueil-ecologique.fr/media/cache/resolve/icone_vert/build/facebook.png" alt="facebook">
                                </a>
                                <a href="#linkelin">
                                    <img src="http://gm.le-cercueil-ecologique.fr/media/cache/resolve/icone_vert/build/linkedin.png" alt="linkedin">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-6">
                            <h5 class="my-5">
                                {% trans %}
                                Nos produits
                                {% endtrans %}
                            </h5>
                            <p>
                                Galaxy
                                <br>
                                Autome
                                <br>
                                Croix
                                <br>
                                Littérature
                                <br>
                                Musique
                                <br>
                                Sport
                            </p>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-6">
                            <h5 class="my-5">
                                {% trans %}
                                A propos
                                {% endtrans %}
                            </h5>
                            <p>
                                {% trans %}
                                Le projet
                                {% endtrans %}
                                <br>
                                {% trans %}
                                La production
                                {% endtrans %}
                                <br>
                                {% trans %}
                                FAQ
                                {% endtrans %}
                                <br>
                                {% trans %}
                                Contact
                                {% endtrans %}
                            </p>
                        </div>


                        <div class="col-lg-3 col-sm-6 col-12">
                            <h5 class="my-5">
                                {% trans %}
                                Nos services
                                {% endtrans %}
                            </h5>
                            <p>
                                {% trans %}
                                Mentions légales
                                {% endtrans %}
                                <br>
                                {% trans %}
                                Conditions générales de vente
                                {% endtrans %}
                                <br>
                                {% trans %}
                                Livraisons et retours
                                {% endtrans %}
                                <br>
                                {% trans %}
                                Paiement sécurisé
                                {% endtrans %}
                            </p>
                        </div>
                    </div>
                    <hr class="hr">
                    <div class="row d-flex justify-content-between">
                        <div class="col-sm-6">
                            <p>
                                Green Memory © 2022 -
                                {% trans %}
                                Tous droits réservés
                                {% endtrans %}
                            </p>
                        </div>
                        <div class="col d-none d-sm-block"></div>
                        <div class="col d-flex justify-content-center">
                            <img src="https://www.grahambrown.com/on/demandware.static/-/Library-Sites-Library/default/dw0b57cd32/images/cardLogos_20180319.png" height="32px" alt="" srcset="">
                        </div>
                    </div>
                </div>
            </section>
        </footer>
    </body>
</html>
