{% import "/dashboard/macro_th.html.twig" as macros %}

<div class="mb-3">
	<div class="d-flex align-items-center gap-2 flex-nowrap">
		{% include "/dashboard/partial/search.html.twig" %}
		{% include '/dashboard/partial/crud_actions_bar.html.twig' %}
		{% include '/dashboard/partial/parent_button.html.twig' %}
	</div>
</div>
<div class="mb-2">
	{% if objets is not empty %}
		<div class="d-flex justify-content-center mb-2">
			{% include "/dashboard/pagination.html.twig" %}
		</div>

		<table class="table table-striped table-bordered text-center">


			<thead>
				<tr>
					{# Champs simples (hors associations) #}
					{% for field,datas in objets.fields %}
						{# si il est dans cruds ou cruds est vide #}
						{% if (cruds|length  and field in cruds|keys ) or cruds|length == 0 %}
							{{ macros.th(field, datas,objets.Ordre is defined and objets.Ordre is not empty,'text-secondary') }}
						{% endif %}

					{% endfor %}
					{# Associations #}
					{% for nom,datas in assocs %}
						{# si il est dans crud et que ce n'est pas le parent #}
						{% if ((cruds|length  and nom in cruds|keys ) or cruds|length == 0) and (app.request.get('parent'))|lower!=nom|lower %}
							{{ macros.th(nom, datas,objets.Ordre is defined and objets.Ordre is not empty,'text-primary') }}
						{% endif %}
					{% endfor %}
					<th>Actions</th>
				</tr>
			</thead>
			<tbody
				{% if objets.Ordre is defined and objets.Ordre.propriete is defined %} data-controller="tablereorder" data-tablereorder-entity-value="{{ app.request.get('entity') }}" data-tablereorder-order-value="ordre" {% endif %}>

				{# on sort les objets #}
				{% set objets_ordre = objets.repo %}
				{% if objets.Ordre is defined and  objets.Ordre.propriete is defined %}
					{% set objets_ordre = objets.repo|sort((a, b) => a.ordre <=> b.ordre) %}
				{% endif %}

				{% for ligne in objets_ordre %}
					<tr
						data-id="{{ ligne.id }}" id="ligne_{{ ligne.id }}">
						{# Pour les champs simples (hors associations) #}
						{% for fieldName,field in objets.fields %}
							{% if (cruds|length  and fieldName in cruds|keys ) or cruds|length == 0%}
								{% if fieldName=='id' %}
									{{ include('/dashboard/partial/id.html.twig', {'objets': objets,'ligne': ligne}) }}
								{% else %}
									{% set type = field.type %}
									{% if type=='datetime' %}
										{% set type = 'date' %}
									{% endif %}
									{% if type=='float' %}
										{% set type = 'integer' %}
									{% endif %}
									{% if type=='array' %}
										{% set type = 'json' %}
									{% endif %}
									{% if 'File' in field.attributs|keys  %}
										{{ include('/dashboard/partial/file.html.twig', {'ligne': ligne,'field': field,'fieldName': fieldName}) }}
									{% else %}

										{{ include('/dashboard/partial/' ~ type ~ '.html.twig', {'ligne': ligne,'field': field,'fieldName': fieldName}) }}
									{% endif %}
								{% endif %}
							{% endif %}
						{% endfor %}
						{# pour les associations #}
						{% for fieldName,datas in assocs %}
							{% if ((cruds|length  and fieldName in cruds|keys ) or cruds|length == 0 ) and (app.request.get('parent'))|lower!=fieldName|lower%}
								{% set type = datas.type %}
								{% if type=='ManyToManyInverseSideMapping' %}
									{% set type = 'ManyToManyOwningSideMapping' %}
								{% endif %}

								{# Vérifier s'il y a un affichage personnalisé dans cruds #}
								{% if cruds[fieldName] is defined and cruds[fieldName]['affichage'] is defined %}
									{# Pour les associations OneToMany, utiliser toujours le template principal #}
									{% if type == 'OneToManyAssociationMapping' %}
										{{ include('/dashboard/partial/' ~ type ~ '.html.twig', {'fieldName': fieldName, 'field': datas, 'ligne': ligne,'ParentId': ligne.id,'source': datas.source,'target': datas.target,'cruds': cruds}) }}
									{% else %}
										{{ include('/dashboard/partial/' ~ fieldName ~ '_' ~ cruds[fieldName]['affichage'] ~ '.html.twig', {'fieldName': fieldName, 'field': datas, 'ligne': ligne,'ParentId': ligne.id,'source': datas.source,'target': datas.target,'cruds': cruds}) }}
									{% endif %}
								{% else %}
									{{ include('/dashboard/partial/' ~ type ~ '.html.twig', {'fieldName': fieldName, 'field': datas, 'ligne': ligne,'ParentId': ligne.id,'source': datas.source,'target': datas.target,'cruds': cruds}) }}
								{% endif %}
							{% endif %}
						{% endfor %}
						{# les actions en bout de ligne  #}
						<td>
							<form action="{{ path('dashboard_delete_entity', {'entity': app.request.get('entity'), 'id': ligne.id })}}" method="post" style="display: inline;">
								<input type="hidden" name="_method" value="DELETE">
								<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ligne.id) }}">
								<button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Voulez vous vraiment supprimer cet enregistrement ?')">
									<i class="bi bi-trash"></i>
								</button>
							</form>
							{% if objets.Actions is defined %}
								{% for label,bouton in objets.Actions %}
									{% if bouton.target is defined and bouton.target == 'modal' %}
										<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal_{{ label }}_{{ ligne.id }}" data-bs-tooltip data-bs-title="{{ bouton.texte is defined ? bouton.texte : label }}">
											{% if bouton.icon is defined and bouton.icon != '' %}
												<i class="{{ bouton.icon }}"></i>
											{% else %}
												{{ label }}
											{% endif %}
										</button>
									{% else %}
										<a href="{{ bouton.url|interpolate }}" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-title="{{ bouton.texte is defined ? bouton.texte : label }}" {{ bouton.target is defined ? 'target="' ~ bouton.target ~ '"' : '' }} {{ bouton.turbo is defined and bouton.turbo == false ? 'data-turbo="false"' : '' }}>
											{% if bouton.icon is defined and bouton.icon != '' %}
												<i class="{{ bouton.icon }}"></i>
											{% else %}
												{{ label }}
											{% endif %}
										</a>
									{% endif %}
								{% endfor %}
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		{# Génération des modaux pour les actions avec target: modal #}
		{% if objets.Actions is defined %}
			{% for ligne in objets_ordre %}
				{% for label,bouton in objets.Actions %}
					{% if bouton.target is defined and bouton.target == 'modal' %}
						<div class="modal fade" id="modal_{{ label }}_{{ ligne.id }}" tabindex="-1" aria-labelledby="modalLabel_{{ label }}_{{ ligne.id }}" aria-hidden="true" data-controller="modal-loader" data-modal-loader-url-value="{{ bouton.url|interpolate }}">
							<div class="modal-dialog modal-lg">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="modalLabel_{{ label }}_{{ ligne.id }}">{{ bouton.texte is defined ? bouton.texte : label }}</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body" id="modal_body_{{ label }}_{{ ligne.id }}">
										<div class="d-flex justify-content-center">
											<div class="spinner-border" role="status">
												<span class="visually-hidden">Chargement...</span>
											</div>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
									</div>
								</div>
							</div>
						</div>
					{% endif %}
				{% endfor %}
			{% endfor %}
		{% endif %}
	{% else %}
		<div class="alert alert-info">Aucun résultat trouvé.</div>
	{% endif %}
</div>
